<div id="<%= dom_id conversation %>">
  <p>
    <strong>Sender:</strong>
    <%= conversation.sender_id %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= conversation.recipient_id %>
  </p>

</div>
